<body>
    <div class="container text-center">
        <div class="row">
            <div class="col" id="box1">
                <div>
                    <img id="logo" src="/assets/gilipro.svg" alt="">
                </div>
                <div>
                    <img id="analytics" src="/assets/data-analytics.png" alt="">
                </div>
                <div>
                   
                </div>
            </div>
            
            <div class="col" id="box2">
               
                <div class="d-flex flex-column logincontext">
                    <div class="LoginContext">
                        <h1>Login</h1>
                        <p class="content">Access for only privilege user </p>
                    </div>
                    <div>
                        <form [formGroup]="formGroup">
                            <input type="email"  placeholder="Enter your Mail"  formControlName="username">
                            <br><br>
    
                            <input type="password" id="floatingInput" placeholder="Enter you Password" formControlName="password" ><br><br>
                            <button (click)="trackSignin()" routerLink="/navbar">Sign-In</button>
                        </form>
    
                    </div>
                </div>
            </div>
            </div>
       
    </div>



</body>