body{
    background: linear-gradient(117.96deg, #00C3FF 0%, #FFFF1C 65.66%);
    height: 100vh;
    width: 100vw;
}




#box1{
    width:50%;
    max-height: 600px;
    background: white;
    border-top-left-radius:  10px;
    border-bottom-left-radius:  10px;
    margin-top: 62px;

}
#box2{
    max-width:30%;
    min-height: 600px;
 background: #37AFD4;
    border-radius: 10px;
     margin-top: 62px;
    
}

#box3{
    max-width:30%;
    min-height: 600px;
 background:white;
}
#logo{
   max-width: 50%;
    min-height:10%;
    position: relative;
    right:35%;
    
}
#analytics{
    width :70%;
    max-height: 650px;
    margin-top :-100px;
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    font-family:sfprobold;
    font: weight 700px; 
    position: relative;
    right:120px;

    
    font-size: 3.125rem;
    color: white;

}
.logincontext{
    margin-right: 0px;
}
.content{
    font-family: 'sfpro';
    font-weight: 400;
    font-size: 1rem;
    color: white;
    position: relative;
    right:85px;
}
.logincontext{
    margin-top: 150px;
    
}
input{
    width: 80%;
    min-height: 40px;
    border-radius: 5px;
    border-style: none;
    font-family: 'sfpro';
    padding-left:10px;
    position: relative;
    right:30px;
}

button{
    font-family: 'sfprobold';
    min-width: 95px;
    min-height: 30px;
    border-radius: 5px;
    border-style: none;
    background: white;
    
    color:red;
    margin-left:100px;
    position: relative;
    right:85px;



}
button:hover {
    background: #FE635E;
    color:white;

  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #box2{
        width:100vh;
    }
  }