/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/*font : source San Pro */
*{
    margin: 0px;
	padding: 0px;
	border: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'sfpro';
    src: url('/assets/ProDisplayRegular.ttf');
  }
  
@font-face {
    font-family: 'sfprobold';
    src: url('/assets/SFPRODISPLAYBOLD.OTF');
}



*{
    margin: 0px;
	padding: 0px;
	border: 0px;
    box-sizing: border-box;
}
