<div class="navcontainer">
    
 <nav class="d-flex flex-row  ">
   <ul>
    <li><img id="logo" src="/assets/gilipro.svg" alt="" /></li>
    <li id="content">
      <a routerLink="/navbar/awsuat">UAT STORYBOARD</a>
    </li>
    <li id="content">
      <a routerLink="/navbar/awsproduction">PRODUCTION STORYBOARD</a>
    </li>
    <li id="content">
      <button routerLink="/login">logout</button>
    </li>
   </ul>

 
      

 
    
    
   
 </nav>
</div>
<router-outlet name="primary"></router-outlet>
