<div class="navcontainer">
    
 <nav class="d-flex flex-row mb-3 ">
    <div>
      <img id="logo" src="/assets/gilipro.svg" alt="" />
    </div>
    <div>
      <select name="Buisness Analytics" id="">
        <option value="Buisness Analytic">Buisness Analytic</option>
        <option value="Buisness Analytic">UAT Storyboard</option>
        <option value="Buisness Analytic">Production Storyboard</option>
      </select>
    
      <select name="Buisness Analytics" id="">
        <option value="Buisness Analytic">User Analytic</option>
        <option value="Buisness Analytic">UAT Storyboard</option>
        <option value="Buisness Analytic">Production Storyboard</option>
      </select>
    </div>

    <div>
      <button><img src="
        ">  Logout</button>
    </div>
 </nav>
</div>
